.center {
  padding-top: 150px;
  display: block;
  justify-content: center;
  text-align: center;
}

a {
  color: white;
  text-decoration: none;
}

a:hover {
  color: #00a0c6;
  text-decoration: none;
  cursor: pointer;
}
