<nav>
  <mat-toolbar color="primary">
    <a
      mat-button
      routerLink="/welcome"
      routerLinkActive="active"
      ariaCurrentWhenActive="page"
      >Home
    </a>
    <a
      *ngIf="userLoggedIn()"
      mat-button
      routerLink="/movies"
      routerLinkActive="active"
      ariaCurrentWhenActive="page"
      >Movies
    </a>
    <a
      *ngIf="userLoggedIn()"
      mat-button
      routerLink="/profile"
      routerLinkActive="active"
      ariaCurrentWhenActive="page"
      >Profile
    </a>
    <div class="spacer"></div>
    <a
      *ngIf="userLoggedIn()"
      mat-button
      routerLink="/"
      routerLinkActive="active"
      ariaCurrentWhenActive="page"
      (click)="signOut()"
      >Logout
    </a>
  </mat-toolbar>
</nav>
