.vertical-center {
  margin-top: 2rem;
  margin-bottom: 1rem;
}
.password-change-form {
  padding: inherit;
}
.anchor {
  align-items: center;
}
.fnt2 {
  font-size: 16px;
}

@import "~@angular/material/prebuilt-themes/indigo-pink.css";
